body {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
  font-size: x-large;
}

h1 {
  margin-top: 40px;
  font-family: "Indie Flower", cursive;
  font-size: xx-large;
}
.count-days,
.count-hours,
.count-minutes,
.count-seconds {
  display: inline;
  margin: 10px;
  font-weight: 900;
}

input {
  height: 25px;
  margin: 10px;
}

button {
  height: 25px;
  font-family: "Indie Flower", cursive;
}
